* {
    margin: 0px;
}

/* Common shared styles */
body {
    font-family: 'Lato', sans-serif;
}

.btn-primary {
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 8px;
    background: #E55473;
}

/* Nav related style */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    color: rgb(122, 8, 228);
    font-size: 45px;
    font-weight: 800;
}

.shop {
    color: purple;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 40px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(66, 45, 202);
}

/* Header related styles */

header {
    padding: 40px 170px 0px 250px;
    background: rgba(229, 84, 115, 0.10);
    background-image: url('/images/flower.png');
    background-repeat: no-repeat;
    background-position: left;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 70px;
}

.banner-content {
    max-width: 700px;
}

.banner-pic-lily {
    width: 600px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    width: 650px;
    padding: 32px 0px;
}

/* Featured flowers styles */

.featured-flowers {
    padding: 150px 250px;
}

.featured-text-titles {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.featured-text-descriptions {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 25px 400px;
}

.featured-flower-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.flower-1 {
    width: 450px;
    height: 550px;
    padding: 150px 70px 0px 70px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.flower-2 {
    width: 450px;
    height: 550px;
    padding: 90px 40px 60px 40px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.flower-3 {
    width: 450px;
    height: 590px;
    padding: 110px 75px 0px 75px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.featured-flowers-names {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding-top: 35px;
    text-decoration-line: underline;
}

.service {
    /* display: flex;
    align-items: center;
    justify-content: space-around; */
    width: 1440px;
    height: 320px;
    margin: 130px 240px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.pic-1 {
    padding: 85px 0px 0px 317px;
}

.pic-2 {
    padding-left: 356px;
}

.pic-3 {
    padding-left: 271px;
}

.service-texts {
    display: flex;
}

.service-description-1 {
    padding-top: 24px;
    padding-left: 240px;
}

.service-description-2 {
    padding-top: 24px;
    padding-left: 210px;
}

.service-description-3 {
    padding-top: 24px;
    padding-left: 210px;
}

/* Hot deal styles */

.hot-deal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 620px;
}

.discount {
    color: #E55473;
}

.deal {
    display: flex;
    width: 594px;
    flex-direction: column;
    flex-shrink: 0;
    padding-left: 200px;
}

.deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-left: 30px;
}

.deal-description {
    padding-top: 25px;
    padding-bottom: 30px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    align-items: center;
    width: 600px;
}

.hot-deal img {
    padding-right: 200px;
}

/* Subscribe part */

.subscribe {
    text-align: center;
    background-image: url('/images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    border-radius: 8px;
    margin: 130px 240px;
    width: 1440px;
    height: 449px;
}

.subscribe-text-titles {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 120px;
}

.subscribe-text {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-top: 16px;
    padding-bottom: 48px;
}

.inp-field {
    width: 700px;
    height: 64px;
    border: 0;
    border-radius: 8px;
    background: #FFF;
    margin-right: 15px;
}

::placeholder {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

/* Footer style */

footer {
    height: 449px;
    text-align: center;
    background: #111010;
}

.flower-shop {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 800;
    padding-top: 130px;
}

.flower {
    color: #E55473;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    padding-top: 25px;
    padding-left: 650px;
    width: 625px;
    font-size: 18px;
    font-weight: 400;
}

.copywrite {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    padding-top: 30px;
}