/* Common shared styles */
body {
    font-family: 'Lato', sans-serif;
}

.btn-primary {
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 8px;
    background: #E55473;
}

/* Nav related style */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    color: rgb(122, 8, 228);
    font-size: 45px;
    font-weight: 800;
}

.shop {
    color: purple;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 40px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(66, 45, 202);
}